
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Empresa</a></li>
    <li class="breadcrumb-item active">Empleado</li>
</ol>

<button id="btnRegistrar" type="button" class="btn btn-success">Registrar Empleado</button>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-users "></i>
        Lista Usuarios
    </div>
    <div class="card-body">
        <table id="tablaUsuarios" class="table table-dark table-striped display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>tell</th>
                    <th>Correo</th>
                    <th>Tipo Usuario</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-dismiss="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="text" class="form-label">Documento:</label>
                            <input type="text" class="form-control" id="txtDocumento" placeholder="Digite el documento" name="txtDocumento">
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Nombres:</label>
                            <input type="text" class="form-control" id="txtNombre" placeholder="Digite el nombre" name="txtNombre">
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Apellidos:</label>
                            <input type="text" class="form-control" id="txtApellido" placeholder="Digite los apellidos" name="txtApellido">
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Telefono:</label>
                            <input type="text" class="form-control" id="txtTell" placeholder="Digite los apellidos" name="txtTell">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo:</label>
                            <input type="email" class="form-control" id="txtCorreo" placeholder="Digite el correo" name="txtCorreo">
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Direccion:</label>
                            <input type="text" class="form-control" id="txtDireccion" placeholder="Digite el correo" name="txtDireccion">
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Estado:</label>
                            <select id="btsEstado" class="form-select" aria-label="Default select example">
                                <option disabled>Seleccione una opcion</option>
                                <option value="0">Activo</option>
                                <option value="1">No activo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Tipo Usuario:</label>
                            <select id="btsTipoUsuario" class="form-select" aria-label="Default select example">

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Ciudad:</label>
                            <select id="btsCiudad" class="form-select" aria-label="Default select example">

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="CancelarModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="Guardar" type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Js/CtUsuarios.js"></script>
}
