
body {
    background-image: url('fodo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-brand-style {
    font-family: 'Bernard MT Condensed', sans-serif;
    font-size: 32px;
    color: white;
    text-transform: none;
    -webkit-text-stroke: 1px #3498db;
    padding: 8px;
    border: 2px solid rgba(204, 204, 204, 0.5);
    border-radius: 4px;
    text-align: center;
    outline: 2px solid rgba(238, 238, 238, 0.5);
    outline-offset: -7px;
    margin-right: 20px;
}

.navbar-brand-style span {
    color: black;
}

div.modal-header {
    background-color: #343a40; /* Cambia el color de fondo según tus preferencias */
    color: white;
}

div.modal-content {
    background: rgb(52,58,64);
    background: linear-gradient(180deg, rgba(52,58,64,1) 2%, rgba(101,100,100,0.7203256302521008) 39%);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}




