body {
    
    table.dataTable{
    width: 100%;
    margin: 1em 0;
    clear: both;
    border-collapse: collapse !important;
    margin-bottom: 1em;
    margin-top: 0;
    }

    table.dataTable th,
    table.dataTable td {
        border: 1px solid #dee2e6;
        padding: 8px;
    }

    table.dataTable thead th {
        background-color: #343a40;
        color: #fff;
    }

    table.dataTable tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table.dataTable tbody tr:hover {
        background-color: #e0e0e0;
    }
}
