
@{
    ViewBag.Title = "Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Empresa</a></li>
    <li class="breadcrumb-item active">Compras</li>
</ol>

<div class="card bg-dark text-white custom-card mb-4">
    <div class="card-header">
        <i class="fas fa-duotone fa-dolly"></i>
        Compras
    </div>
    <div class="card-body">
        <div class="row">
            <table id="tablaCompras" class="table" style="width: 100%">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>N°Compra</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Repre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-success">
                </tbody>
            </table>
        </div>
    </div>

    <!--DatosCompras-->
    <div class="modal" id="modalCompra" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-dismiss="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fas fa-clipboard"></i>
                        Detalle de la compra
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3 text-center">
                            <h4>
                                <label for="text" class="form-label">N°:</label>
                                <label for="text" class="form-label" id="numeroCompra"></label>
                            </h4>
                        </div>
                        <div class="col-3">

                            <div class="mb-3">
                                <label for="text" class="form-label">Fecha de Compra:</label>
                                <input type="text" class="form-control" id="txtFechaCompra" name="txtFechaCompra" disabled>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="text" class="form-label">Proveedor:</label>
                                <select id="btsProveedor" class="form-select" aria-label="Default select example" disabled>

                                    <!-- Archivo -->

                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <label for="text" class="form-label">Telefono:</label>
                                <input type="text" class="form-control" id="txtTell" name="txtTell" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="text" class="form-label">Insumo:</label>
                                <input type="text" class="form-control" id="txtInsumo" name="txtInsumo" disabled>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <label for="text" class="form-label">Cantidad:</label>
                                <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" disabled>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <label for="text" class="form-label">Precio:</label>
                                <input type="number" class="form-control" id="txtPrecio" name="txtPrecio" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



</div>

@section scripts{
    <script src="~/Scripts/Js/CtCompra.js"></script>
}