
@{
    ViewBag.Title = "cortes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Empresa</a></li>
    <li class="breadcrumb-item active">Cortes</li>
</ol>

<div class="mt-2 container" id="contenedorAdopta">
    <div class="row">
        <div class="col sm-6">

        </div>
        <div class="col sm-4">
        </div>
        <div class="col sm-2" id="BtnEspecie">
            <center>

            </center>
        </div>
    </div>

    <div class="card bg-dark text-white custom-card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-secondary" id="btnGuardar">Registrar Corte</button>
                </div>
                <div class="col-8 text-center">
                    <h1>hola</h1>
                </div>
                <div class="col-2">
                    <div class="btn-group" id="btnSexo">
                        <div class="btn-group">
                            <button type="button" id="selecionarEs" class="colorest btn btn-secondary" data-bs-toggle="dropdown">Sexo</button>
                            <div class="dropdown-menu" id="listaBusquedaSexo">
                                <a class="dropdown-item" href="#" val="0">Masculino</a>
                                <a class="dropdown-item" href="#" val="1">Femenino</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-close-white" id="NoFiltrar">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="adopcionListas">
            <h1>
                Datos

                insumos
                en cartas
                aqui
            </h1>
            <h3>esta en js copiar</h3>
            '<div class="col" compR="' + item.compRaz +
                '" compE="' + item.compEsp +
                '">
                <button id="btnAnimal" type="button" class="btn" idEspecie=' + item.idAnimal +
                ' imagenAnimal='+ item.imagen +
                ' nombreAnimal=' + item.nombreAnimal +
                ' sexoAnimal=' + item.sexo +
                ' edadAnimal="' + item.edad +
                '" especie="' + item.especie +
                '" raza="' + item.raza +
                '" descripcion="' + item.descripcion +
                '" nombreUsuario="' + item.nombre + ' ' + item.apellido +
                '" correo=' + item.correo +
                ' tell=' + item.tell +
                ' direccion=' + item.ciudad + '>
                    <div class="colorest card" style="width: 200px; background-color:#ffc273;">
                        <br><img class="imageredond" style="width: 170px; height: 170px; margin: auto;" src="data:image/jpg;base64,' +
                item.imagen +
                '" alt="Mi foto"><div class="card-body">
                            <h4 class="card-title">NOMBRE:</h4><h4 class="card-title">
                                ' +
                                item.nombreAnimal +
                                '
                            </h4><h5>ESPECIE:</h5><h5 class="card-text">
                                ' +
                                item.especie +
                                '
                            </h5>
                        </div>
                    </div>
                </button>
            </div>';
        </div>
    </div>
</div>

@* Registro *@

<div id="CntRegistrarCorte" class="container mb-4" @*style="display: none;*@">
    <div class="card bg-dark text-white">
        <div class="row">
            <div class="card-header">
                <center>
                    <i class="fas fa-file"></i>
                    Registro factura
                </center>
            </div>

            <div class="col-4">
                <div class="card-body">
                    <center>
                        <label for="text" class="form-label">Foto:</label>
                        <br>
                        <img id="fotoInsumoReg" src="#" alt="Vista previa de la foto" class="rounded-circle" style="width: 200px; height: 200px;">
                    </center>
                    <div class="mb-2 mt-2">
                        <label for="text" class="form-label">Precio Compra:</label>

                        <div class="input-group">
                            <span class="input-group-text">
                                $
                            </span>
                            <input type="number" class="form-control" id="txtPrecio" name="txtPrecio">
                        </div>
                    </div>
                    <div class="mb-2 mt-2">
                        <label for="imagenInsumoReg" class="form-label">Foto del insumo:</label>
                        <input type="file" class="form-control" id="imagenInsumoReg" name="imagenInsumoReg" accept="image/jpeg image/jpg image/png">
                    </div>
                </div>
                <center>
                    <button id="pdfbt" type="button" class="btn-1">Descargar PDF</button>
                </center>
                <center>
                    <div class="btn-group dropend mb-2 mt-2" role="group">
                        <button id="btnRegresar2" type="button" class="btn btn-warning">Regresar</button>
                        <button id="btnGuardarFactura" type="button" class="btn btn-success">Guardar</button>
                    </div>
                </center>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="mb-2 mt-2 text-center">
                                <label for="text" class="form-label">N° Compra:</label>
                                <input type="text" class="form-control" id="txtNumeroCompraReg" name="txtNumeroCompraReg">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Estado:</label>
                                <select id="btsEstado" class="form-select" aria-label="Default select example">
                                    <option disabled>Seleccione una opcion</option>
                                    <option value="0">Pendiente Pago</option>
                                    <option value="1">Pago</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Proveedor:</label>
                                <select id="btsProveedor" class="form-select" aria-label="Default select example">

                                    <!-- Archivo -->

                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Cantidad:</label>
                                <input type="number" class="form-control" id="txtCantidadReg" name="txtCantidadReg">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Nombre Insumo:</label>
                                <input type="text" list="listaRegistroInsumo" name="browser" class="form-control" placeholder="Escriba el insumo" id="InsumoRegistro">
                                <datalist id="listaRegistroInsumo">
                                    <!-- ARCHIVO -->
                                </datalist>
                            </div>
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Descripción Insumo:</label>
                                <textarea class="form-control" rows="5" name="datoDescripcionInsumo" id="datoDescripcionInsumo"></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Nombre Material:</label>
                                <input type="text" list="listaRegistroMaterial" name="browser" class="form-control" placeholder="Escriba el material" id="MaterialRegistro">
                                <datalist id="listaRegistroMaterial">
                                    <!-- ARCHIVO -->
                                </datalist>
                            </div>
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Descripción Material:</label>
                                <textarea class="form-control" rows="5" name="datoDescripcionMaterial" id="datoDescripcionMaterial"></textarea>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
