
@{
    ViewBag.Title = "Insumo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Empresa</a></li>
    <li class="breadcrumb-item active">Insumos</li>
</ol>

<div class="container" id="CntInsumos">
    <div class="row">
        <div class="col sm-6">
            <div class="input-group">
                <span class="input-group-text">
                    🔍
                </span>
                <select id="listaBusqueda" class="form-select">
                    <!-- ARCHIVO -->
                </select>
            </div>
        </div>
        <div class="col sm-4">
        </div>
        <div class="col sm-2 mb-4" id="BtnEspecie">
            <center>
                <div class="btn-group">


                </div>
            </center>
        </div>
    </div>

    <div class="card bg-dark text-white custom-card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <button id="registroCompraInsumo" type="button" class="btn btn-secondary">Registrar Insumo</button>
                </div>
                <div class="col-4">
                    <center>
                        <i class="fas fa-boxes"></i>
                        Insumos
                    </center>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <div class="btn-group">
                        <button type="button" id="selecionarEs" class="btn btn-outline-secondary" data-bs-toggle="dropdown">Material</button>
                        <div class="dropdown-menu" id="listaBusquedaMaterial">
                            <!-- ARCHIVO -->
                        </div>
                        <button type="button" class="btn btn-secondary" id="NoFiltrar">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="CartasInsumo">

            @* Cartas *@

        </div>
    </div>
</div>


@* DatosInsumos *@

<div class="container mb-4" id="CntDatosInsumo" style="display: none;">
    <div class="row">
        <div class="col-8">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <center>
                        <i class="fas fa-file"></i>
                        Datos insumo
                    </center>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <center>
                                <label for="text" class="form-label">Foto:</label>
                                <br>
                                <img id="fotInsumo" src="" alt="Vista previa de la foto" class="rounded-circle" style="width: 150px; height: 150px;">
                            </center>
                            <div class="mb-5 mt-5 text-center">
                                <label for="text" class="form-label">Cantidad:</label>
                                <input type="text" class="form-control" id="txtCantidad" name="txtCantidad" disabled>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-8">
                                    <div class="mb-2 mt-2">
                                        <label for="text" class="form-label">Nombre:</label>
                                        <input type="text" class="form-control" id="txtNombre" name="txtNombre" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-2 mt-2">
                                        <label for="text" class="form-label">Material:</label>
                                        <input type="text" class="form-control" id="txtMaterial" name="txtMaterial" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col">

                                </div>
                            </div>

                            <label for="comment">Descripcion Insumo:</label>
                            <textarea class="form-control" rows="3" name="txtDesInsumo" id="txtDesInsumo" disabled></textarea>
                            <label for="comment">Descripcion Material:</label>
                            <textarea class="form-control" rows="3" name="txtDesMaterial" id="txtDesMaterial" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <center>
                        <i class="fas fa-address-book"></i>
                        Satelite encargado
                    </center>
                </div>
                <div class="card-body">

                    <div class="col-8">
                        <div class="mb-3 mt-3">
                            <label for="text" class="form-label">Satelite:</label>
                            <select id="btsSatelite" class="form-select" aria-label="Default select example">

                                <!-- Archivo -->

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Cantidad:</label>
                                <input type="number" class="form-control" id="txtCantidadSatelite" placeholder="Cantidad" name="txtCantidadSatelite">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Estado:</label>
                                <select id="btsSatelite" class="form-select" aria-label="Default select example">
                                    <option disabled selected>Seleccione un estado</option>
                                    <option value='0'>Por entregar</option>
                                    <option value='1'>Entregado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <center>
                        <div class="btn-group mb-2">
                            <button id="btnRegresar" type="button" class="btn btn-dark">Regresar</button>
                            <button id="btnRegistrarEnvioSatelite" type="button" class="btn btn-dark">Guardar Envio</button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

@* Registro *@

<div id="CntRegistrarInsumo" class="container mb-4" style="display: none;">
    <div class="card bg-dark text-white">
        <div class="row">
            <div class="card-header">
                <center>
                    <i class="fas fa-file"></i>
                    Registro factura
                </center>
            </div>

            <div class="col-4">
                <div class="card-body">
                    <center>
                        <label for="text" class="form-label">Foto:</label>
                        <br>
                        <img id="fotoInsumoReg" src="#" alt="Vista previa de la foto" class="rounded-circle" style="width: 200px; height: 200px;">
                    </center>
                    <div class="mb-2 mt-2">
                        <label for="text" class="form-label">Precio Compra:</label>

                        <div class="input-group">
                            <span class="input-group-text">
                                $
                            </span>
                            <input type="number" class="form-control" id="txtPrecio" name="txtPrecio">
                        </div>
                    </div>
                    <div class="mb-2 mt-2">
                        <label for="imagenInsumoReg" class="form-label">Foto del insumo:</label>
                        <input type="file" class="form-control" id="imagenInsumoReg" name="imagenInsumoReg" accept="image/jpeg image/jpg image/png">
                    </div>
                </div>
                <center>
                    <button id="pdfbt" type="button" class="btn-1">Descargar PDF</button>
                </center>
                <center>
                    <div class="btn-group dropend mb-2 mt-2" role="group">
                        <button id="btnRegresar2" type="button" class="btn btn-warning">Regresar</button>
                        <button id="btnGuardarFactura" type="button" class="btn btn-success">Guardar</button>
                    </div>
                </center>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="mb-2 mt-2 text-center">
                                <label for="text" class="form-label">N° Compra:</label>
                                <input type="text" class="form-control" id="txtNumeroCompraReg" name="txtNumeroCompraReg">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Estado:</label>
                                <select id="btsEstado" class="form-select" aria-label="Default select example">
                                    <option disabled>Seleccione una opcion</option>
                                    <option value="0">Pendiente Pago</option>
                                    <option value="1">Pago</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Proveedor:</label>
                                <select id="btsProveedor" class="form-select" aria-label="Default select example">

                                    <!-- Archivo -->

                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Cantidad:</label>
                                <input type="number" class="form-control" id="txtCantidadReg" name="txtCantidadReg">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Nombre Insumo:</label>
                                <input type="text" list="listaRegistroInsumo" name="browser" class="form-control" placeholder="Escriba el insumo" id="InsumoRegistro">
                                <datalist id="listaRegistroInsumo">
                                    <!-- ARCHIVO -->
                                </datalist>
                            </div>
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Descripción Insumo:</label>
                                <textarea class="form-control" rows="5" name="datoDescripcionInsumo" id="datoDescripcionInsumo"></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Nombre Material:</label>
                                <input type="text" list="listaRegistroMaterial" name="browser" class="form-control" placeholder="Escriba el material" id="MaterialRegistro">
                                <datalist id="listaRegistroMaterial">
                                    <!-- ARCHIVO -->
                                </datalist>
                            </div>
                            <div class="mb-2 mt-2">
                                <label for="text" class="form-label">Descripción Material:</label>
                                <textarea class="form-control" rows="5" name="datoDescripcionMaterial" id="datoDescripcionMaterial"></textarea>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>





@section scripts{
    <script src="~/Scripts/Js/CtInsumos.js"></script>
}